<h2 class="text-center pt-sm-4 font-weight-normal h2-responsive">How Flintobox Works</h2>
<div class="row pt-lg-4 image-content-section">
  <div class="col-sm-7">
    <img src="assets/kids-cover.jpg" alt="kids cover" class="img-fluid">
  </div>
  <div class="col-sm-5">
    <p><strong>1. Delivered Monthly! </strong>Order now and receive a new Flintobox every month based on an educational
      theme.</p>
    <p><strong>2. Start Exploring! </strong>Unbox lots of exciting & age-appropriate activities every month that focus
      on the 16 key developmental skills.</p>
    <p><strong>3. Fun learning! </strong>Watch your child learn multiple concepts & themes through play, and grow
      holistically!</p>
  </div>
</div>
