<section class="py-4 grey lighten-4 featured">
  <div class="container">
    <h3 class="h3-responsive text-center font-weight-normal mb-3">Featured In</h3>
    <div class="row">
      <div class="col-sm-12 d-none d-lg-block">
        <img src="../../../assets/news-papers-web-min.png" alt="Featured" class="img-fluid">
      </div>
      <div class="col-sm-12 d-lg-none">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <img class="d-block w-100 forbes"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXgAAADzAQMAAAC2U59KAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACJJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAHgMLZAAAX7KdEUAAAAASUVORK5CYII="
              alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100 the-hindu"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXgAAADzAQMAAAC2U59KAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACJJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAHgMLZAAAX7KdEUAAAAASUVORK5CYII="
              alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100 economic"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXgAAADzAQMAAAC2U59KAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACJJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAHgMLZAAAX7KdEUAAAAASUVORK5CYII="
              alt="Third slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100 financial-express"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXgAAADzAQMAAAC2U59KAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACJJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAHgMLZAAAX7KdEUAAAAASUVORK5CYII="
              alt="Third slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100 indian-express"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXgAAADzAQMAAAC2U59KAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACJJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAHgMLZAAAX7KdEUAAAAASUVORK5CYII="
              alt="Third slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100 pioneer"
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAXgAAADzAQMAAAC2U59KAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACJJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAHgMLZAAAX7KdEUAAAAASUVORK5CYII="
              alt="Third slide">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
</section>
