.featured {
  background-image: url("../../../assets/web-seablue.png");
  background-repeat: round;

  .indian-express {
    background-image: url("../../../assets/new-paper-mobile.png");
    background-position: 0% 40%;
    background-size: 100%;
  }

  .pioneer {
    background-image: url("../../../assets/new-paper-mobile.png");
    background-position: 0% 100%;
    background-size: 100%;
  }

  .financial-express {
    background-image: url("../../../assets/new-paper-mobile.png");
    background-position: 0% 0%;
    background-size: 100%;
  }

  .economic {
    background-image: url("../../../assets/new-paper-mobile.png");
    background-position: 0% 60%;
    background-size: 100%;
  }

  .forbes {
    background-image: url("../../../assets/new-paper-mobile.png");
    background-position: 0% 20%;
    background-size: 100%;
  }

  .the-hindu {
    background-image: url("../../../assets/new-paper-mobile.png");
    background-position: 0% 80%;
    background-size: 100%;
  }
}
