<section class="footer">
  <div class="container">
    <div class="row footer-links">
      <div class="col-sm-4">
        <h6 class="h6 text-center">We Accept</h6>
      </div>
      <div class="col-sm-4">
        <h6 class="text-center h6">Links</h6>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">Cancellation policy</a></li>
              <li><a href="#">Carrer</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">Cancellation policy</a></li>
              <li><a href="#">Carrer</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="h6 text-center">Connect with us</div>
        <img src="fb" alt=""> <img src="twitter" alt="">
      </div>
    </div>
  </div>
</section>
