<section class="blue-gradient p-4" id="seal-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-7">
        <h4 class="text-white Bootstrap heading">Designed And Developed By Experts At</h4>
        <h2 class="note blue-gradient text-white">India's first and only R&D Centre for Early Childhood
          Development <a href="#" class="know-more">Know
            More>></a></h2>
      </div>
      <div class="col-sm-2">
        <img src="assets/seal-image.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
