<header id="nav-header" [class.fixed-top]="sticky" #stickyMenu>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="true">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="assets/logo-v1.png" alt="logo" width="125"></a>
    </mdb-navbar-brand>


    <form class="form-inline waves-light ml-auto d-lg-none d-sm-flex" mdbWavesEffect>
      <div class="md-form my-0">
        <select id="duration" name="duration" class="browser-default custom-select" [(ngModel)]="selectedValue">
          <option [ngValue]="duration.value" *ngFor="let duration of options">
            {{duration.label}}
          </option>
        </select>
      </div>
    </form>

    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-lg-flex">
          <form class="form-inline waves-light ml-auto" mdbWavesEffect>
            <div class="md-form my-0">
              <select class="browser-default custom-select">
                <option value="{{option.value}}" *ngFor="let option of options" [selected]="selectedValue">
                  {{option.label}}</option>
              </select>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            Shop<span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            Gift
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            Research
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            Review
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas icon="sign-in-alt"></mdb-icon> Login/Sign Up
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <span class="landline"> 044 4010 0400</span>
          </a>
        </li>

      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->
</header>
