<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100 academic-choice-award"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAg0AAAINAQMAAACH1t7XAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADlJREFUeNrtwTEBAAAAwqD1T20KP6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALgaJZwABk1N5VAAAAABJRU5ErkJggg=="
        alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100 global-education-award"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAg0AAAINAQMAAACH1t7XAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADlJREFUeNrtwTEBAAAAwqD1T20KP6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALgaJZwABk1N5VAAAAABJRU5ErkJggg=="
        alt="Second slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100 global-education-award"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAg0AAAINAQMAAACH1t7XAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADlJREFUeNrtwTEBAAAAwqD1T20KP6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALgaJZwABk1N5VAAAAABJRU5ErkJggg=="
        alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100 wharton-award"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAg0AAAINAQMAAACH1t7XAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADlJREFUeNrtwTEBAAAAwqD1T20KP6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALgaJZwABk1N5VAAAAABJRU5ErkJggg=="
        alt="Fourth slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100 tiecon-award"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAg0AAAINAQMAAACH1t7XAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADlJREFUeNrtwTEBAAAAwqD1T20KP6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALgaJZwABk1N5VAAAAABJRU5ErkJggg=="
        alt="Fourth slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
