<section class="awards-section pt-4">
  <div class="container">
    <h3 class="text-center h3-responsive font-weight-normal">Awarded By Leading Educational Experts Across The Globe
    </h3>
    <div class="d-none d-lg-block">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABZIAAAIKAQMAAACDSCiIAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAHJJREFUeNrtwTEBAAAAwqD1T20Gf6AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPgNvFwABA8Jo9gAAAABJRU5ErkJggg=="
        alt="placeholder" class="awardbg img-fluid">
    </div>
    <div class="award-slider d-lg-none">
      <app-award-slider></app-award-slider>
    </div>
  </div>
</section>
