<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flintobox</title>
</head>

<body>
  <app-navbar></app-navbar>
  <app-coloured-section [heading]="heading1" [content]="content1"></app-coloured-section>
  <section class="s-2 grey lighten-5">
    <div class="container">
      <app-video-content-section></app-video-content-section>
      <app-image-content-section></app-image-content-section>
    </div>
  </section>
</body>

</html>
