<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flintobox</title>
</head>

<body>
  <app-navbar></app-navbar>
  <app-coloured-section [colorClass]="color1" [heading]="heading1">
  </app-coloured-section>
  <section class="s-2 grey lighten-4">
    <div class="container">
      <app-video-content-section></app-video-content-section>
      <app-image-content-section></app-image-content-section>
      <app-call-to-action></app-call-to-action>
    </div>
  </section>
  <app-seal-content></app-seal-content>
  <app-themes-section></app-themes-section>
  <app-coloured-section [colorClass]="color1" [heading]="heading2"></app-coloured-section>
  <app-subscription-section></app-subscription-section>
</body>

</html>
