<section class="faq-section py-4 cyan darken-3">
  <div class="container">
    <h3 class="h3-responsive text-center text-white">FAQ</h3>
    <div class="row">
      <div class="col-sm-12">
        <mdb-accordion [multiple]="false">
          <mdb-accordion-item [collapsed]="true">
            <mdb-accordion-item-head>What happens when I purchase Flintobox?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              You will receive an SMS and email once you place the order. You will receive one box per month based on
              the subscription you choose. Your first box will reach you within 10 business days of creating your order.
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>What exactly do I get inside a Flintobox?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              Each activity box will be packed with 3 to 4 play-based activities along with easy-to-understand
              instruction sheets. Every month, your child will receive a different set of activities.
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>How do I use Flintobox?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              Every Flintobox comes with an easy-to-understand instruction sheet and a demo video on our website on how
              to do the activities.
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>I'm a busy parent. I don't have enough time. Will my child be able to do the
              activities independently?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              If you're a busy parent, you can play the activities along with your child during weekends. And if you
              plan it as one activity per week, your involvement will be less than 30 minutes per week where you guide
              your child initially -- and your child can then engage with the activities independently!
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>Can I try 1 box before heading for a subscription?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              You can do this by taking a 3 month subscription, try the first box, and if your child is not engaging
              with the box (which is quite rare!), you can cancel your subscription by sending an email to us and we'll
              refund the amount for the remaining boxes back to you!
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>Can I cancel my subscription at any time?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              If at all you feel that Flintobox isn't working out for your child, no worries! Just send us an email and
              we'll cancel your subscription and promptly refund the amount for the remaining boxes in your subscription
              back to your bank account!
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>Can I change my address in the middle of my subscription?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              Absolutely! Unless the box has already been shipped, we can change your delivery address during your
              subscription! Just shoot us an email and we'll promptly ship the box to your new address.
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>What age groups is Flintobox available for?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              Flintobox is available for 6 different age groups and all the activities are age-appropriate. They are:
              2-3 years, 3-4 years, 4-5 years , 5-6 years , 6-8 years and 8-12 years.
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>
              Is shipping free? To which places do you ship?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              Oh yes! Shipping is absolutely free! You don't have to pay any additional cost and we ship all across
              India.
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>
              Is Cash On Delivery option available? What other payment options do you accept?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              Yes, cash on delivery option is available for certain pin-codes across India. Currently we accept payment
              via all valid credit cards, debit cards, net banking, GPay, UPI and payment wallets.
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <mdb-accordion-item>
            <mdb-accordion-item-head>
              What if the activities are too easy or too difficult for my child?</mdb-accordion-item-head>
            <mdb-accordion-item-body>
              All our activities are age-specific. We test the engagement of our activities with many children from the
              same age group. So choose according to your child's age. In case during the subscription, you feel it's
              too easy, you can upgrade to a higher age group; if it is too difficult, you can downgrade to a lower age
              group.
            </mdb-accordion-item-body>
          </mdb-accordion-item>

        </mdb-accordion>

      </div>
    </div>
  </div>
</section>
