@import '../../app.component.scss';

.video-content-section {
  ul li {
    font-size: $fontsizecontent;
    font-weight: $fontweightcontent;
    line-height: $lineheightcontent;

    &::before {
      content: "➤";
      padding-right: 20px;
      color: #09c;
    }
  }

  .hightlight {
    font-weight: 500;
    font-size: 1em;
    padding-left: 40px;
  }
}
