<section class="subscription-section py-4 grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <mdb-card class="align-items-center rounded pt-3 border border-success z-depth-1">
          <!--Title-->
          <mdb-card-title>
            <h5>3 Month Subscription</h5>
          </mdb-card-title>

          <!--Card image-->
          <mdb-card-img src="assets/subscription1.png" alt="Card image cap" class="subimg">
          </mdb-card-img>
          <!--Card content-->
          <mdb-card-body class="text-center">

            <!--Text-->
            <mdb-card-text>
              <p>You Pay Rs <s>3585</s> <b> 2499</b></p>
              <p>Per Box Rs <s>1195</s> <b> 833</b></p>
              <p class="save">Save <span class="light-green-text h5-responsive font-weight-normal">30%</span></p>
            </mdb-card-text>

            <a href="#" mdbBtn color="danger" rounded="true" size="sm" mdbWavesEffect>Order Now >></a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card class="align-items-center rounded pt-3 border border-success z-depth-1">
          <!--Title-->
          <mdb-card-title>
            <h5>6 Month Subscription</h5>
          </mdb-card-title>

          <!--Card image-->
          <mdb-card-img src="assets/subscription2.png" alt="Card image cap" class="subimg">
          </mdb-card-img>
          <!--Card content-->
          <mdb-card-body class="text-center">

            <!--Text-->
            <mdb-card-text>
              <p>You Pay Rs <s>7170</s> <b> 4499</b></p>
              <p>Per Box Rs <s>1195</s> <b> 749</b></p>
              <p class="save">Save <span class="light-green-text h5-responsive font-weight-normal">37%</span></p>
            </mdb-card-text>

            <a href="#" mdbBtn rounded="true" size="sm" color="danger" mdbWavesEffect>Order Now >></a>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-sm-4">
        <mdb-card class="align-items-center rounded pt-3 border border-success z-depth-1">
          <!--Title-->
          <mdb-card-title>
            <h5>12 Month Subscription</h5>
          </mdb-card-title>

          <!--Card image-->
          <mdb-card-img src="assets/subscription3.png" alt="Card image cap" class="subimg">
          </mdb-card-img>
          <!--Card content-->
          <mdb-card-body class="text-center">

            <!--Text-->
            <mdb-card-text>
              <p>You Pay Rs <s>14340</s> <b> 7699</b></p>
              <p>Per Box Rs <s>1195</s> <b> 641</b></p>
              <p class="save">Save <span class="light-green-text h5-responsive font-weight-normal">46%</span></p>
            </mdb-card-text>

            <a href="#" mdbBtn color="danger" rounded="true" size="sm" mdbWavesEffect>Order Now >></a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</section>
